@inject Tektonic.CodeGen.TypeLoader TypeLoader

<BFUModal ContainerClass="modalContainerOverride" IsOpen="IsOpen" OnDismiss="Close">
    <ChildContent>
        <div style="padding:10px;" class="largeFont">
            <span>Load Types</span>
        </div>
        <div style="padding: 10px;">
            <p>
                <BFUTextField Placeholder="NuGet Package" @bind-Value="packageName" />
            </p>
        </div>
        <BFUActionButton Text="Add" IconName="Add" OnClick="Add" />
    </ChildContent>
</BFUModal>

@code {
    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }

    private string packageName;

    private async void Add()
    {
        await TypeLoader.LoadAssemblyFromNuGetAsync(packageName);
        Close();
    }

    private async void Close()
    {
        IsOpen = false;
        await IsOpenChanged.InvokeAsync(IsOpen);
        StateHasChanged();
    }
}