@inject Tektonic.CodeGen.TypeMapManager typeMapManager
@using Newtonsoft.Json

<BFUModal ContainerClass="modalContainerOverride" IsOpen="IsOpen" OnDismiss="Close">
    <ChildContent>
        <div style="padding:10px;" class="largeFont">
            <span>Type Map</span>
        </div>
        <div style="padding: 10px;">
            <p><BFUTextField Multiline="true" Placeholder="Type Map (JSON)" @bind-Value="typeMapJson" Style="height: 75vh;" /></p>
            <p>
                <BFUTextField Placeholder="Fallback Type" @bind-Value="fallbackType" />
            </p>
        </div>
    </ChildContent>
</BFUModal>

@code { 
    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }

    private bool isTypeMapDirty;
    private string _typeMapJson;
    private string typeMapJson
    {
        get
        {
            return _typeMapJson;
        }
        set
        {
            _typeMapJson = value;
            isTypeMapDirty = true;
        }
    }
    private string fallbackType { get; set; }

    protected override void OnParametersSet()
    {
        if (!IsOpen && !string.IsNullOrEmpty(typeMapJson) && isTypeMapDirty)
        {
            typeMapManager.CurrentTypeMap = JsonConvert.DeserializeObject<Dictionary<string, Type>>(typeMapJson);
            typeMapManager.FallbackType = Type.GetType(fallbackType);
            isTypeMapDirty = false;
        }
        else
        {
            typeMapJson = JsonConvert.SerializeObject(typeMapManager.CurrentTypeMap, Formatting.Indented);
            fallbackType = typeMapManager.FallbackType.ToString();
            isTypeMapDirty = false;
        }

        base.OnParametersSet();
    }

    private void Close()
    {
        IsOpen = false;
        IsOpenChanged.InvokeAsync(IsOpen);
    }
}
